
@{
    ViewBag.Title = "Report";
}

<h2>Report</h2>

@using (Html.BeginForm())
{
    <fieldset>



        <div>
            <label>Start Date</label>
            @Html.TextBox("StartDate")
        </div>

        <div>
            <label>End Date</label>
            @Html.TextBox("EndDate")
        </div>



        <input type="submit" value="Check" />

    </fieldset>
}

