@model IEnumerable<MVC_Fund6_2.Models.SalesViewModel>

@{
    ViewBag.Title = "Statistic";
}

<h2>Statistic</h2>

@using (Html.BeginForm())
{
    <div>
        <label>Введите имя пользователя </label>
        @Html.TextBox("y")
    </div>
    <input type="submit" value="Запросить статистику" />
}

    <div>
        @Html.ActionLink("Back to List", "Statistic")
    </div>
