
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <h1>Hello From /products/Details </h1>
</head>
<body>
    <div> 
    </div>
</body>
</html>
