
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <div>
        @Html.ActionLink("Ссылка из home/about на admin/home/index", "Index", "Admin/Home") +
        <br />
        @Html.ActionLink("Ссылка из home/about на admin/products/index", "Index", "Admin/products")

    </div>
</body>
</html>
