@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>


        <!--Данные отправляются с помощью GET запроса, как данные в маршруте-->
        <a href="/Data/RouteInformation/hello-world-routedata">Route Data with "id"</a>
        <br />
        <!--Данные отправляются с помощью GET запроса, как данные в маршруте-->
        <a href="/Data/RouteInformation/">Route Data without "id"</a>


    </div>
</body>
</html>