
@{
    ViewBag.Title = "Statistic";
}

<h2>Statistic</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("CustomerId")
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.CustomerId
        </td>

    </tr>
}

</table>
